body {
  /*min-height: 2000px;*/
 /* background:url(../img/logo/bodybg.jpeg);
  background-repeat:repeat-x,y;
  /*font-family:HelveticaNeueLTPro-Lt;
   font-family: telenorlight;
   src:url('../fonts/telenorlight.woff');*/
   font-family:HelveticaNeueLTPro-Bd;
}
@font-face {
    font-family: 'HelveticaNeueLTPro-Bd.eot';
    src: url('../fonts/HelveticaNeueLTPro-Bd.eot');
   
}
.consame{padding-top:40px; padding-bottom:40px;}
.navbar-static-top {
  margin-bottom: 19px;
  height:80px;
  background-color:#FFFFFF;
  margin-bottom:2px;
  border-bottom:none;
}
.navbar-brand{padding-top:20px;}
.navbar-right{padding-top:20px;
			background-color:#FFFFFF;}
.navbar-right li a{
				color:#000E3F !important;
				font-size:15px;
				}

/*.banner{
		background:url(../img/banner/banner.jpg);
		background-position:center;
		background-size:100%;
		background-repeat:no-repeat;
		min-height:520px;
		}*/
.container p{text-align:justify;
			font-size:17px;
			}
.container .us{padding:5px;
				background-color:#E1BF3A;
				color:#FFFFFF; 
				width:230px; 
				font-size:20px;
				padding-left:10px;
				}

					
input[type="text"],
input[type="email"]{
				background-color:#F0F1F5;
				color:#030F41;
				}				
		
.message{
		background-color:#F0F1F5;
		color:#030F41;
		}
.address{
	background-color:#F0F1F5;
	min-height:350px;
	padding:20px;
}
.address p{font-size:14px;
		   color:#020F43;

		 }
.address .map{
			background-color:#020F43;
			min-height:175px
			}
.content table tr td{padding:10px;}
.content .btn-default{background-color:transparent;
					color:#020F43;
					border-color:#020F43;
					min-width:100px;
					}
		
.content .btn-default:hover{background-color:#374469;
							color:#E6E6E6;
							border-color:#374469;
							}	
							
		
.tab-content img {border-radius:5px;}	
		
.img-circle{width:90px; 
			height:auto;}
#rowspan_contact{
	height: 100px;
	font-size: 50px;
    text-align: center;
}

		
		
					